<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>SITEMAP_PROPERTIES_FILE_LOCATION</param-name>
        <param-value>/WEB-INF/sitemap.properties</param-value>
    </context-param>
    <filter>
        <filter-name>DispatcherFilter</filter-name>
        <filter-class>sangnv.filter.DispatcherFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DispatcherFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>sangnv.listener.ContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>sangnv.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>sangnv.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmMailServlet</servlet-name>
        <servlet-class>sangnv.servlet.ConfirmMailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>sangnv.servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchServlet</servlet-name>
        <servlet-class>sangnv.servlet.AdminSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>sangnv.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailServlet</servlet-name>
        <servlet-class>sangnv.servlet.ViewDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberPostCommentServlet</servlet-name>
        <servlet-class>sangnv.servlet.MemberPostCommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberPostArticleServlet</servlet-name>
        <servlet-class>sangnv.servlet.MemberPostArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewDetailServlet</servlet-name>
        <servlet-class>sangnv.servlet.AdminViewDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteServlet</servlet-name>
        <servlet-class>sangnv.servlet.AdminDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminApproveServlet</servlet-name>
        <servlet-class>sangnv.servlet.AdminApproveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmMailServlet</servlet-name>
        <url-pattern>/ConfirmMailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchServlet</servlet-name>
        <url-pattern>/AdminSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailServlet</servlet-name>
        <url-pattern>/ViewDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberPostCommentServlet</servlet-name>
        <url-pattern>/MemberPostCommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberPostArticleServlet</servlet-name>
        <url-pattern>/MemberPostArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewDetailServlet</servlet-name>
        <url-pattern>/AdminViewDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteServlet</servlet-name>
        <url-pattern>/AdminDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminApproveServlet</servlet-name>
        <url-pattern>/AdminApproveServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
